*{
  margin : 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(0, 0, 39);
  color: white;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  background-color: rgb(7, 7, 58);
}

nav ul{
  display: flex;
  justify-content: center;
}

nav ul li{
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: none;
  color: rgb(210, 200, 200);
  font-size: 1.01rem;
}
.left{
  font-size: 1.5rem;
}

                                                                          /* FIRST SECTION */

.firstsection{
  display: flex;
  justify-content: space-around;
  margin: 90px 0;
  align-items: center;
}

.firstsection >div{
  width: 30%;
}

.leftsection{
  font-size: 2.5rem;
}

.leftsection .buttons{
  padding: 50px 0;
}
#projects{
  margin-top: 19px;
}
#myimage{
  border-radius: 500px;
}

#games {
  top: 1px;
  left: -129px;
  position: relative;
}

.leftsection .btn{
  padding: 12px;
  background-color: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;  
  position:static;
  margin: 0 5px;
}

.btn:hover{
  background-color: #2a2d89;
  font-size: 15.1px;
}



.rightsection img{
  width: 70%;
}

.purple{
  color: rgb(164, 95, 228);
}

#element{
  color: rgb(164, 95, 228);
}

hr{
  border: none;
  background-color: #9c97f1;
  height: 1.2px;
  margin:60px 84px;
}

                                                                         /* SECTION SECTION */


.secondsection{
  max-width: 80vw;
  height: 80vh;
  margin: auto;
}

.text-gray{
  color: gray;
  font-size: smaller;
}

.secondsection .box{
  background-color: white;
  width: 100%;
  height: 2px;
  margin: 56px 0;
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  
}

.secondsection .vertical {
  text-align: center;
  flex: 01;
  height: 0px;
  width: -6px;
  background-color: white;
  margin: 25px 25px;
}
  
.image-top {
  display: block;
  margin: 0 auto;
  max-width: 80px;
}

.vertical-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
}

.vertical-desc {
  margin-top:5px;
  color: #666;
  font-size: 12px;
}



                                /* FOOTER*/

footer{
  background-color: #050718d9;
  
}

.footer{
  display: flex;
  padding : 23px 123px;
  justify-content: space-evenly;
}

.footer > div{
  width: 200px;
}

footer ul li {
  text-decoration: none;
  list-style: none;
}

footer ul li a{
  color: white;
  text-decoration: none;
  list-style: none;
}

.text-center{
  text-align: center;
  padding: 12px 0;
  color: gray;
}





























